<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-white">
 <div class="container-lg ">
     <div class="row justify-content-center ">
        <div class="col-lg-5">
            <div class="border border-danger border-radious-3 my-5 bg-info"> 
                <h1 class=" text-white  text-center"><%=listTitle%></h1>
            </div>
           
            <ul class="list-group bg-dark" >
               
                <%  newitems.forEach(function(items){ %>
                <div class="container d-flex ">
                    <form action="/delete" method="post">
                        <input type="checkbox" class="border-0" name="checkbox" value="<%=items.name %>" onchange="this.form.submit()">
                        <input type="hidden"  name="hidden" value=<%=listTitle%> >
                    </form>
                    
                    <li class="list-group-item text-white bg-dark border-0"><%=items.name %></li>
                </div>
               
                <%  }) %>


              <!-- <%  for (let i = 0; i < newitems.length; i++) {  %>
                 
                  
               <% }  %> -->
              
            </ul>
             <form action="/" method="post">
              <input class="form-control" type="text" name="text" placeholder="say something" autocomplete="off">
              
                <button class="btn btn-danger btn-lg mx-auto rounded-circle my-2 " type="submit" name="button" value=<%=listTitle%> >+</button>
             
             
             </form>
          
        </div>
     </div>
 
 </div>

    
</body>
</html>